/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar,
.main,
.footer-container {
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 9999;
}

.navbar {
  position: fixed;
  color: #fff;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  background: rgb(4, 35, 71);
  display: flex;
  justify-content: left;
  align-items: center;
}
.navbar__spacer {
  padding: 10px;
  cursor: pointer;
}
.navbar--spacer {
  padding: 10px;
  cursor: pointer;
}
.navbar--spacer:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(238, 238, 248);
  display: inline-block;
}
.navbar img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.search {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  position: fixed;
  z-index: 9999999;
  right: 20px;
  background-color: rgb(222, 222, 228);
  outline: none;
  padding-left: 5px;
}
.search:hover {
  background-color: white;
}

.main {
  position: relative;
  background-color: #ffffff;
  z-index: 100;
  padding: 100px 50px 30px 50px;
  display: flex;
  flex-direction: column;
}
.main__top {
  padding: 10px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__top__left {
  flex-basis: 40%;
}
.main__top__left--big {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
}
.main__top__left--medium {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}
.main__top__left--normal {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.main__top__left__btn {
  display: flex;
  flex-direction: row;
}
.main__top__left--red {
  color: red;
}
@media screen and (max-width: 1300px) {
  .main__top__left {
    flex-basis: 50%;
  }
  .main__top__left--big {
    padding: 0px;
  }
  .main__top__left--medium {
    font-weight: 500;
    padding: 0px;
  }
  .main__top__left--normal {
    padding: 0px;
    color: rgba(0, 0, 0, 0.6);
  }
  .main__top__left__btn {
    display: flex;
    flex-direction: column;
  }
}
.main__top__right {
  flex-basis: 60%;
  padding: 0px 20px 0px 20px;
}
.main__top__right img {
  height: 400px;
  width: 700px;
}
@media screen and (max-width: 1300px) {
  .main__top__right {
    flex-basis: 50%;
  }
  .main__top__right img {
    height: 300px;
    width: 500px;
  }
}
.main__down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding: 100px 50px 50px 50px;
}
.main__down__single {
  flex-basis: 30%;
  background-color: #737785;
  color: white;
  padding: 20px;
}
.main__down__pic {
  padding: 3%;
  height: 200px;
  width: 330px;
}
.main__down__title {
  text-transform: capitalize;
  font-size: 20px;
}
.main__down__text {
  margin: 20px 0;
  line-height: 24px;
}

.btn {
  display: inline-block;
  background-color: rgb(4, 35, 71);
  padding: 10px 20px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  transition: 0.3;
  cursor: pointer;
}
.btn--red {
  background-color: red;
}
.btn:hover {
  background-color: #01040f;
}
.btn--white {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 250px;
  border: 1px solid #324FBE;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #324FBE;
  text-align: center;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
}
.btn--blue {
  background-color: #346EF1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 250px;
  border: 1px solid #324FBE;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #10204e;
  position: relative;
  bottom: 0;
  z-index: 100;
}

.footer {
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.footer__left {
  font-family: "Foldit", cursive;
  display: flex;
  justify-content: center;
  flex-direction: wrap;
  align-items: center;
  flex-basis: 30%;
  padding: 20px 0px 0px 20px;
}
.footer__left__logo {
  height: 70px;
  width: 100px;
}
.footer__left__title {
  font-family: "Foldit", cursive;
  font-size: 50px;
  color: white;
  text-transform: capitalize;
  padding-left: 20px;
}
.footer__mid {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-basis: 50%;
  padding: 20px;
  color: white;
}
.footer__mid__left {
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  align-items: baseline;
}
.footer__mid__right {
  padding: 20px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: baseline;
}
.footer__right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-basis: 20%;
  padding: 40px;
  align-items: baseline;
}
.footer__right__desc {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.copy-write {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.copy-write__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.copy-write__up--hover {
  padding: 5px;
}
.copy-write__up--hover:hover {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.copy-write__down {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */